.Container {
  min-height: 87vh;
  border: 1px solid #d8d8d8;
  display: flex;
  border-radius: 3px;
  margin-bottom: 20px;
  background: #fff  ;
}

.Navbar {
  width: 235px;
  min-height: 100%;
  border-right: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  div {
    height: 100px;
    padding: 0 12px;
    border-top: 1px solid #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      color: #0095f6;
      margin-top: 7px;
      font-weight: 600;
    }
  }
}

.Links {
  li a {
    display: block;
    padding: 16px 16px 16px 30px;
    border-left: 2px solid transparent;
    color: #262626;
    line-height: 20px;
  }
  li:last-child a {
    color: #0095f6;
    font-weight: 600;
  }
}

.Active {
  border-color: #000 !important;
  font-weight: 600;
}

.Content {
  flex: 1;
  height: 100%;

  form {
    margin: 25px 0;
  
    & > div {
      display: flex;
      margin-bottom: 16px;
  
      aside {
        margin-top: 6px;
        max-width: 200px;
        min-width: 200px;
        padding: 0 32px;
        text-align: right;
        color: #262626;
        font-weight: 600;
      }
  
      & > div {
        padding-right: 110px;
        width: 100%;

        p {
          color: #8e8e8e;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          margin-top: 10px;
        }

        b {
          color: #8e8e8e;
          font-size: 14px;
          font-weight: 600;
        }

        a {
          color: #0095f6;
        }

        label {
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 14px;
          max-width: 270px;
          &::selection {
            background: none;
          }
          input {
            max-width: 15px;
            margin-right: 10px;
          }
        }

        input, textarea, select {
          border: 1px solid #dbdbdb;
          height: 32px;
          width: 100%;
          padding: 0 10px;
          border-radius: 3px;
          line-height: 18px;
        }
        textarea {
          padding: 10px;
          resize: vertical;
          min-height: 90px;
        }
        button {
          margin-top: 20px;
          font-weight: bold;
        }
      }
    }
  }
}

.FormHeader {
  aside {
    display: flex;
    justify-content: flex-end;
  }
  div {
    h1 {
      font-size: 20px;
      line-height: 22px;
      font-weight: 400;
    }
    button {
      font-size: 14px;
      font-weight: 500;
      margin: 0 !important;
      color: #0095f6;
    }
  }
}

.email {
  margin-top: 50px;
  p {
    margin-top: 4px !important;
    margin-bottom: 10px !important;
  }
  aside {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 6px;
  }
}
