.Container {
  display: flex;
}

.Image {
  width: 600px;
  height: 600px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.Detail {
  flex: 1;
  border: 1px solid #dbdbdb;
  border-left: none;

  & > button {
    margin: 0 16px;
    font-size: 14px;
    font-weight: 600;
  }
}

.Header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 16px;
  border-bottom: 1px solid #efefef;

  a {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    &:hover {
      text-decoration: underline;
    }
  }
  a:nth-child(2) {
    margin-left: 10px;
  }
  button {
    margin-left: auto;
  }
}

.Description {
  display: flex;
  width: 100%;
  height: 72px;
  padding: 16px;

  div {
    margin-left: 10px;
    a {
      font-size: 14px;
      font-weight: 600;
      color: #262626;
      margin-right: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      display: inline-block;
      font-size: 14px;
    }
    span {
      display: block;
      font-size: 12px;
      font-weight: 400;
      color: #8e8e8e;
      margin-top: 7px;
    }
  }
}

.Comments {
  min-height: 323px;
  max-height: 323px;
  overflow-y: auto;
  div {
    display: flex;
    width: 100%;
    padding: 10px 16px;
    & > a {
      margin-top: 15px;
    }
    div {
      display: block;
      a {
        font-size: 14px;
        font-weight: 600;
        color: #262626;
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        font-size: 14px;
      }
    }
  }
}

.Actions {
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;

  div {
    display: flex;
    gap: 16px;
  }
}

.Comment {
  margin-top: 10px;
  display: flex;
  height: 55px;
  border-top: 1px solid #efefef;
  input {
    padding: 0 16px;
    flex: 1;
  }
  button {
    padding: 0 16px;
    font-weight: 600;
    color: #0095f6;
  }
}
