.Container {
  width: 100%;
  margin-bottom: 30px;
  max-width: 603px;
  *::selection {
    background: none;
  }
  ul {
    border: 1px solid #dbdbdb;
    padding: 16px 12px 12px 12px;
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    cursor: grab;

    &::-webkit-scrollbar {
      display: none;
    }
    li {
      text-align: center;
      span {
        font-size: 13px;
      }
    }
  }
}

