.Header {
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-bottom: 45px;
  border-bottom: 1px solid #dbdbdb;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  margin-right: 90px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.Content {
  div:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
    h2 {
      font-size: 28px;
      font-weight: 300;
    }
  }
  ul {
    margin-top: 15px;
    display: flex;
    gap: 25px;
    li:not(:first-child) {
      cursor: pointer;
    }
    b {
      font-weight: 500;
      margin-right: 5px;  
    }
    span {
      font-weight: 400;
    }
  }
  & > a {
    display: block;
    margin-top: 3px;
    color: #00376b;
    font-weight: 600;
  }
}

.EditButton {
  margin-left: 10px;
  border: 1px solid #dbdbdb;
  cursor: pointer;
  padding: 5px 9px;
  border-radius: 3px;
  font-weight: 600;
}

.FullName {
  margin-top: 15px;
  font-weight: 600;
}

.Description {
  margin-top: 4px;
}

.Links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: -0.5px;

  li {
    border-top: 1px solid transparent;
    font-size: 12px;
    color: #8e8e8e; 
    font-weight: 500;
    letter-spacing: 1px;
    svg {
      fill: #8e8e8e;
      margin-right: 5px;
    }
    a {
      display: block;
      line-height: 40px;
    }
  }
}

.ActiveLink {
  border-color: black !important;
  color: #262626 !important;
  svg {
    fill: #262626 !important;
  }
}