.Layout {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);
  }

  footer {
    text-align: center;
    font-size: 12px;
    color: #8e8e8e;

    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      line-height: 14px;
      font-weight: 500;
    }

    div {
      margin-top: 12px;
      margin-bottom: 52px;
      span:first-child {
        margin-right: 20px;
      }
    }
  }
}
