.Avatar {
  margin: 0;
  padding: 2px;
  border-radius: 50%;
  max-width: max-content;
  max-height: max-content;
  display: flex;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  img {
    border-radius: 50%;
    border: 1px solid white;
  }
}

.Border {
  background: linear-gradient(219deg, rgba(184, 63, 140, 1) 0%, rgba(237, 158, 90, 1) 100%);
}