.Navbar {
  width: 100%;
  height: 54px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  z-index: 999;
}

.Container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > a img {
    margin-top: 10px;
  }
}

.Links {
  display: flex;
  align-items: center;
  gap: 22px;
}

.SearchBox {
  width: 215px;
  height: 28px;
  z-index: inherit;
  svg {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 37%;
    top: 50%;
    transform: translateY(-50%);
  }
  input {
    border: 1px solid #dbdbdb;
    padding: 4px 10px 4px 25px;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    text-align: center;
    
    &:focus,
    &:valid {
      text-align: left;
      & + svg {
        left: 4%;
      }
    }
  }
}


.NotificationModal {
  width: 500px;
  position: absolute;
  background-color: #fff;
  right: -50px;
  top: 40px;
  padding: 8px 0;
  border-radius: 6px;
  max-height: 500px;
  overflow-y: auto;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
  animation: openModal 500ms forwards;
  z-index: 999;
}

.NotificationItem {
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
  font-size: 14px;

  & > a:not(:first-child) {
    margin-left: auto;
    img {
      width: 50px;
      height: 50px;
      border-radius: 4px;
    }
  }

  div {
    p {
      display: inline-block;
      margin: 0 5px;
    }
    a {
      font-weight: 500;
    }
    span {
      color: #ccc;
    }
  }
  
  button {
    margin-left: auto;
    font-weight: 500;
  }
}

.SearchModal {
  width: 400px;
  max-height: 450px;
  position: absolute;
  background-color: #fff;
  left: -80px;
  top: 40px;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
  z-index: 999;
  overflow-y: auto;
  animation: openModal 500ms forwards;
}

.SearchBoxItem {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px;

  & > a {
    display: block;
    width: 100%;
    div {
      b {
        font-weight: 500;
        display: block;
      }
      span {
        color: rgba(black, 0.7);
      }
    }
  }

  &:hover {
    background: rgba(#ddd, .3);
  }
}

.UserModal {
  position: absolute;
  width: 200px;
  background-color: #fff;
  right: -20px;
  top: 50px;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
  animation: openModal 500ms forwards;
  z-index: 999;

  li a {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 15px;
    svg {
      margin-right: 8px;
      margin-top: 2px;
    }
    &:hover {
      background: rgba(#ddd, .5);
    }
  }
  li:last-child a {
    border-top: 1px solid rgba(#ddd, .5);
  }
}

@keyframes openModal {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}