.Post {
  margin-bottom: 30px;
  width: 600px;
  border: 1px solid #ccc;
  background: #FFF;

  &:first-child {
    margin-top: 30px;
  }
}

.PostHeader {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  div {
    display: flex;
    align-items: center;
    font-size: 14px;
    a:last-child {
      margin-left: 10px;
      color: #262626;
      font-weight: 600;
    }
  }
}

.PostImage {
  width: 100%;
  max-height: 700px;
  overflow: hidden;

  img {
    max-height: 100%;
  }
}

.PostActions {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;

  div {
    display: flex;
    gap: 16px;
  }
}

.PostLikes {
  display: flex;
  font-size: 14px;
  padding: 0 15px;
  color: #262626;
  a:nth-child(2) {
    font-weight: 600;
    margin-left: 6px;
    margin-right: 4px;
  }
  button {
    margin-left: 4px;
    font-weight: 600;
    height: max-content;
  }
}

.Description,
.Comments {
  font-size: 14px;
  padding: 0 15px;
  color: #262626;
  a {
    font-weight: 600;
  }
}

.Comments {
  margin-top: 5px;
  max-height: 120px;
  overflow-y: auto;
  div {
    margin: 3px 0;
  }
}

.CreatedDate {
  font-size: 11px;
  color: #8e8e8e;
  line-height: 28px;
  padding: 0 15px;
}

.CommentForm {
  height: 50px;
    border-top: 1px solid #ccc;
    display: flex;
    input{
      flex: 1;
      border: none;
      background: none;
      outline: none;
      padding: 0 15px;
      font-size: 15px;
      position: relative;
      &:focus::placeholder{
        opacity: 0;
      }
    }
    button{
      width: 60px;
      border: none;
      background: none;
      outline: none;
      color: #0095f6;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer ;
    }
}

@media (max-width: 645px) {
  .Post {
    width: 100%;
  }
}