* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  outline: none;
}

html, body, #__next {
  height: 100%;
  background: #FAFAFA;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
  object-position: center;
}

.img-box {
  position: relative;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.img-box *::selection {
  background: none;
}

.img-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
}